/**
 * Variables
 */

$border-thickness: 2px;
$border-thick: 1.5 * $border-thickness; // 2px;

$primary: rgb(185, 185, 185); // cell bg, main color on unclicked,
$secondary: rgb(155, 155, 155); // border

@mixin inset($width) {
  border: inset;
  border-width: $width;
}

@mixin unselectable {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game {
  border-width: $border-thick;
  border-style: outset;
  background-color: $primary;
  padding: 1em;
  box-sizing: border-box;
  display: inline-block;

  .header {
    @include inset($border-thickness);
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.game.active {
  background-color: pink;
}

.smiley {
  content: 'asdfasdf';
  border: outset;
  border-radius: 5px;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  &.caution {
    color: red;
  }
}

.counter {
  padding: 0;
  font-size: 0;
  font-family: monospace;

  .digit {
    font-size: 24pt;
    margin: 0;
    background-color: black;
    color: red;
  }
}

.active .cell {
  background-color: red;
}
.active .cell.over {
  background-color: green !important;
}

.grid {
  @include inset($border-thickness);
  @include unselectable;

  padding: 0 !important;

  .row {
    margin: 0;
    width: 100%;
  }

  .cell {
    display: table-cell;
    border-top: none;
    height: 100%;
    height: 1.5em;
    width: 1.5em;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;

    border-color: $secondary;
    border-style: solid;
    border-width: 1px;
    border-right: 0;
    border-bottom: 0;

    // &.safe {
    //   border-color: $secondary;
    //   border-style: solid;
    //   border-width: 1px;
    //   border-left: 0;
    //   border-top: 0;
    // }

    &.red {
      color: red;
    }

    &.unknown {
      border-color: white;
      border-style: outset;
      border-width: 3px;
      color: transparent;
      background-image: none !important;
    }

    &.num {
      background-size: contain;
      text-indent: -999999px;
      background-repeat: no-repeat;
      background-origin: content-box;
      // background-position-x: 2px;
    }

    &.num-1 { background-image: url("/images/1.svg"); }
    &.num-2 { background-image: url("/images/2.svg"); }
    &.num-3 { background-image: url("/images/3.svg"); }
    &.num-4 { background-image: url("/images/4.svg"); }
    &.num-5 { background-image: url("/images/5.svg"); }
    &.num-6 { background-image: url("/images/6.svg"); }
    &.num-7 { background-image: url("/images/7.svg"); }
    &.num-8 { background-image: url("/images/8.svg"); }

  }

}
